<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="dashboard">
    <div class="sidebar">
        <div class="sidebar-buttons">
            <a th:href="@{/teacher_home}" class="btn btn-primary">My courses</a>
            <a th:href="@{/teacher_tests}" class="btn btn-primary">My tests</a>
            <a th:href="@{/teacher_students}" class="btn btn-primary">My students</a>
            <a th:href="@{/teacher_home}" class="btn btn-primary">Settings</a>
        </div>
    </div>
    <div class="content" id="content">
        <h2>Create Course</h2>
        <form id="createCourseForm" th:action="@{/courses/create}" method="post" th:object="${course}">
            <label for="title">Course Name:</label><br>
            <input type="text" id="title" name="title" th:value="${param.title}" required><br>
            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red" class="error-message"></div>

            <label for="points">Points:</label><br>
            <input type="number" id="points" name="points" th:value="${param.points}" required><br>
            <div th:if="${#fields.hasErrors('points')}" th:errors="*{points}" style="color: red" class="error-message"></div>

            <button type="submit">Create Course</button>
        </form>
        <div class="success-message" th:if="${param.success}">
            Course added!
        </div>
    </div>
    <div class="user-info">
        <div class="user-name">
            <h2>Welcome back, <span th:text="${fullName}">User's name</span></h2>
        </div>
        <a th:href="@{/login}" class="logout-btn">Logout</a>
    </div>
</div>
</body>
</html>
