<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="dashboard">
    <div class="sidebar">
        <div class="sidebar-buttons">
            <H3>Teacher</H3>
            <i class="fas fa-chalkboard-teacher fa-4x"></i>
            <a th:href="@{/teacher_home}" class="btn btn-primary">Courses <i class="fa-solid fa-table"></i> </a>
            <a th:href="@{/teacher_tests}" class="btn btn-primary">Tests <i class="fa-solid fa-list-ul"></i></a>
            <a th:href="@{/teacher_students}" class="btn btn-primary">Students <i class="fa-solid fa-user-graduate"></i></a>
        </div>
    </div>
    <div class="content" id="content">
        <h2>Create Course</h2>
        <form id="createCourseForm" th:action="@{/courses/create}" method="post" th:object="${course}">
            <label for="title">Course Name:</label><br>
            <input type="text" id="title" name="title" th:value="${param.title}" required><br>
            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red" class="error-message"></div>

            <button type="submit">Create Course <i class="fa-solid fa-plus"></i> </button>
        </form>
        <div class="success-message" th:if="${param.success}">
            Course added!
        </div>
    </div>
    <div class="user-info">
        <div class="user-name">
            <h2>Welcome back, <span th:text="${fullName}">User's name</span></h2>
            <div class="user-stats">
                <ul>
                    <li><i class="fas fa-book"></i> Number of created courses: <span th:text="${courseCount}">0</span></li>
                    <li><i class="fas fa-file-alt"></i> Number of created tests: <span th:text="${testCount}">0</span></li>
                    <li><i class="fas fa-users"></i> Number of students: <span th:text="${studentCount}">0</span></li>
                </ul>
            </div>
        </div>
        <a th:href="@{/login}" class="logout-btn">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
    </div>
</div>
</body>
</html>
