<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>


    <link rel="stylesheet" href="/styles.css">
    <script src="/create_test.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
<div class="dashboard">
    <div class="sidebar">
        <div class="sidebar-buttons">
            <H3>Teacher</H3>
            <i class="fas fa-chalkboard-teacher fa-4x"></i>
            <a th:href="@{/teacher_home}" class="btn btn-primary">Courses <i class="fa-solid fa-table"></i></a>
            <a th:href="@{/teacher_tests}" class="btn btn-primary">Tests <i class="fa-solid fa-list-ul"></i></a>
            <a th:href="@{/teacher_students}" class="btn btn-primary">Students <i class="fa-solid fa-user-graduate"></i></a>
        </div>
    </div>
    <div class="content" id="content">
        <h2>Create Test</h2>
        <form id="createTestForm" class="form-container" th:action="@{/saveTest}" method="post">

            <div class="form-group">
                <label for="testName" class="form-label">Test Name:</label>
                <input type="text" id="testName" name="testName" class="form-input" required>
            </div>

            <div class="form-group">
                <label for="totalPoints" class="form-label">Total Points:</label>
                <input type="number" id="totalPoints" name="totalPoints" class="form-input" required>
            </div>

            <h3>Add Questions:</h3>

            <div id="questionsContainer">
                <!-- Questions will be dynamically added here -->
            </div>

            <div class="form-button-container">
                <button type="button" id="addSingleChoiceQuestion" class="form-button">Add Single Choice Question <i class="fa-solid fa-plus"></i></button>
                <button type="button" id="addMultipleChoiceQuestion" class="form-button">Add Multiple Choice Question <i class="fa-solid fa-plus"></i></button>
                <button type="button" id="addWordQuestion" class="form-button">Add Word Question <i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="form-group">
                <label for="courseId" class="form-label">Select Course:</label>
                <select id="courseId" name="courseId" class="form-input" required>
                    <option value="">Select Course</option>
                    <option value="null">No course</option>
                    <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.title}"></option>
                </select>
            </div>

            <button type="submit" class="form-button form-button-submit">Create Test <i class="fa-solid fa-file-arrow-down"></i> </button>
        </form>
    </div>
    <div class="user-info">
        <div class="user-name">
            <h2>Welcome back, <span th:text="${fullName}">User's name</span></h2>
            <div class="user-stats">
                <ul>
                    <li><i class="fas fa-book"></i> Number of created courses: <span th:text="${courseCount}">0</span></li>
                    <li><i class="fas fa-file-alt"></i> Number of created tests: <span th:text="${testCount}">0</span></li>
                    <li><i class="fas fa-users"></i> Number of students: <span th:text="${studentCount}">0</span></li>
                </ul>
            </div>
        </div>
        <a th:href="@{/login}" class="logout-btn">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
    </div>
</div>

</body>
</html>
