<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/styles.css">
    <script src="/course_scripts.js"></script>
</head>
<body>
<div class="dashboard">
    <div class="sidebar">
        <div class="sidebar-buttons">
            <button id="coursesBtn">My courses</button>
            <button id="testsBtn">My tests</button>
            <button id="studentsBtn">My students</button>
            <button id="settingsBtn">Settings</button>
        </div>
    </div>
    <div class="content" id="content">
        <h2>Create Course</h2>
        <form id="createCourseForm" th:action="@{/courses/create}" method="post" th:object="${course}">
            <label for="title">Course Name:</label><br>
            <input type="text" id="title" name="title" th:value="${param.title}" required><br>

            <label for="points">Points:</label><br>
            <input type="number" id="points" name="points" th:value="${param.points}" required><br>

            <button type="submit">Create Course</button>
        </form>
        <div class="success-message" th:if="${param.success}">
            Course added!
        </div>
    </div>
    <div class="user-info">
        <div class="user-name">
            <h2>Welcome back, <span th:text="${fullName}">User's name</span></h2>
        </div>
        <button class="logout-btn" id="logoutBtn">Logout</button>
        <div class="logout-message" style="display: none;">Logout successful!</div>
    </div>
</div>
</body>
</html>
