<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/styles.css">
    <script src="/search_sort.js"></script>
    <script src="/course_delete.js"></script>
    <script src="/course_leave.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>

<div class="dashboard">
    <div class="sidebar">
        <div class="sidebar-buttons">
            <H3>Student</H3>
            <i class="fas fa-chalkboard-teacher fa-4x"></i>
            <a th:href="@{/student_home}" class="btn btn-primary">Courses <i class="fa-solid fa-table"></i> </a>
            <a th:href="@{/student_tests}" class="btn btn-primary">Results <i class="fa-solid fa-list-ul"></i> </a>
            <a th:href="@{/student_teachers}" class="btn btn-primary">Teachers <i class="fas fa-chalkboard-teacher fa-1x"></i></a>
        </div>
    </div>
    <div class="content" id="content">
        <h2>My courses</h2>
        <div th:if="${studentCourses.isEmpty()}">
            <p>You are not enrolled in any courses.</p>
        </div>
        <div th:if="${!studentCourses.isEmpty()}" id="studentCourses" class="course-container">
            <table>
                <thead>
                <tr>
                    <th scope="col">
                        <div class="search-container">
                            <label for="searchInput">Search by Title:</label>
                            <input type="text" id="searchInput" name="searchInput">
                        </div>
                    </th>
                    <th scope="col">Your Course Points</th>
                    <th scope="col">Max Course Points</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course : ${studentCourses}" th:id="'course_' + ${course.id}">
                    <td th:text="${course.title}"></td>
                    <td th:text="${studentCoursePoints[course.id]}"></td>
                    <td th:text="${coursePoints[course.id]}"></td>
                    <td class="button-container">
                        <a th:href="@{'/student_view_course/' + ${course.id}}">
                            <button class="view-button">View <i class="fa-solid fa-eye"></i> </button>
                        </a>
                        <button class="delete-button" th:onclick="'leaveCourse(\'' + ${course.id} + '\')'" >Leave <i class="fa-solid fa-arrow-right-from-bracket"></i> </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="content-buttons">
            <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
            <form class="join-course-form" th:action="@{/join_course}" method="post">
                <input type="text" name="courseKey" placeholder="Enter course key" required>
                <button type="submit" class="btn btn-primary">Join course <i class="fa-solid fa-plus"></i> </button>
            </form>
        </div>
    </div>
    <div class="user-info">
        <div class="user-name">
            <h3>Welcome back, <span th:text="${fullName}">User's name</span></h3>
            <div class="user-stats">
                <ul>
                    <li><i class="fas fa-book"></i> Number of courses you have joined: <span th:text="${courseCount}">0</span></li>
                    <li><i class="fas fa-file-alt"></i> Number of passed tests: <span th:text="${passedTests}">0</span></li>
                    <li><i class="fas fa-file-alt"></i> Number of tests to be passed: <span th:text="${notPassedTests}">0</span></li>
                    <li><i class="fas fa-users"></i> Number of your teachers: <span th:text="${studentTeachers}">0</span></li>
                </ul>
            </div>
        </div>
        <a th:href="@{/login}" class="logout-btn">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
    </div>
</div>

</body>
</html>
