<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/styles.css">
    <script src="/search_sort.js"></script>
    <script src="/test_delete.js"></script>
</head>
<body>


<div class="dashboard">
    <div class="sidebar">
        <div class="sidebar-buttons">
            <a th:href="@{/teacher_home}" class="btn btn-primary">My courses</a>
            <a th:href="@{/teacher_tests}" class="btn btn-primary">My tests</a>
            <a th:href="@{/teacher_students}" class="btn btn-primary">My students</a>
            <a th:href="@{/teacher_home}" class="btn btn-primary">Settings</a>
        </div>
    </div>
    <div class="content" id="content">
        <h2>My tests</h2>
        <div id="teacherTests" class="course-container">
            <table>
                <thead>
                <tr>
                    <th scope="col">
                        <div class="search-container">
                            <label for="searchInput">Search by Title:</label>
                            <input type="text" id="searchInput" name="searchInput">
                        </div>
                    </th>
                    <th scope="col">Points</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="test : ${teacherTests}" th:id="'test_' + ${test.id}">
                    <td th:text="${test.title}"></td>
                    <td th:text="${test.points}"></td>
                    <td class="button-container">
                        <a th:href="@{'/teacher_view_test/' + ${test.id}}">
                            <button class="view-button">View</button>
                        </a>
                        <a th:href="@{'/teacher_edit_test/' + ${test.id}}">
                            <button class="edit-button">Edit</button>
                        </a>
                        <button class="delete-button" th:onclick="'deleteTest(\'' + ${test.id} + '\')'" id="deleteTestBtn">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="content-buttons">
            <a th:href="@{/teacher_create_test}" class="create-course-btn">Create test</a>
        </div>
    </div>
    <div class="user-info">
        <div class="user-name">
            <h2>Welcome back, <span th:text="${fullName}">User's name</span></h2>
        </div>
        <a th:href="@{/login}" class="logout-btn">Logout</a>
    </div>
</div>
</body>
</html>
