<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/styles.css">
    <script src="/search_sort.js"></script>
    <script src="/course_delete.js"></script>
</head>
<body>

<div class="dashboard">
    <div class="sidebar">
        <div class="sidebar-buttons">
            <a th:href="@{/teacher_home}" class="btn btn-primary">My courses</a>
            <a th:href="@{/teacher_tests}" class="btn btn-primary">My tests</a>
            <a th:href="@{/teacher_students}" class="btn btn-primary">My students</a>
            <a th:href="@{/teacher_home}" class="btn btn-primary">Settings</a>
        </div>
    </div>
    <div class="content" id="content">
        <h2>My courses</h2>
        <div id="teacherCourses" class="course-container">
            <table>
                <thead>
                <tr>
                    <th scope="col">
                        <div class="search-container">
                            <label for="searchInput">Search by Title:</label>
                            <input type="text" id="searchInput" name="searchInput">
                        </div>
                    </th>
                    <th scope="col">Points</th>
                    <th scope="col">Course Key</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course : ${teacherCourses}" th:id="'course_' + ${course.id}">
                    <td th:text="${course.title}"></td>
                    <td th:text="${course.points}"></td>
                    <td th:text="${course.courseKey}"></td>
                    <td class="button-container">
                        <a th:href="@{'/teacher_view_course/' + ${course.id}}">
                            <button class="view-button">View</button>
                        </a>
                        <a th:href="@{'/teacher_edit_course/' + ${course.id}}">
                            <button class="edit-button">Edit</button>
                        </a>
                        <button class="delete-button" th:onclick="'deleteCourse(\'' + ${course.id} + '\')'" >Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="content-buttons">
            <a th:href="@{/teacher_create_course}" class="btn btn-primary">Create course</a>
        </div>

    </div>
    <div class="user-info">
        <div class="user-name">
            <h2>Welcome back, <span th:text="${fullName}">User's name</span></h2>
        </div>
        <a th:href="@{/login}" class="logout-btn">Logout</a>
    </div>

</div>

</body>
</html>
