<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/styles.css">


</head>
<body>
<div class="dashboard">
    <div class="sidebar">
        <div class="sidebar-buttons">
            <a th:href="@{/teacher_home}" class="btn btn-primary">My courses</a>
            <a th:href="@{/teacher_tests}" class="btn btn-primary">My tests</a>
            <a th:href="@{/teacher_students}" class="btn btn-primary">My students</a>
            <a th:href="@{/teacher_home}" class="btn btn-primary">Settings</a>
        </div>
    </div>
    <div class="content" id="content">
        <h2>My students</h2>
        <div class="content-buttons">
            <button class="create-course-btn">knopka students</button>
        </div>
    </div>
    <div class="user-info">
        <div class="user-name">
            <h2>Welcome back, <span th:text="${fullName}">User's name</span></h2>
        </div>
        <a th:href="@{/login}" class="logout-btn">Logout</a>
    </div>
</div>
</body>
</html>
