<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/styles.css">
    <script src="/search_sort.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div class="dashboard">
    <div class="sidebar">
        <div class="sidebar-buttons">
            <H3>Teacher</H3>
            <i class="fas fa-chalkboard-teacher fa-4x"></i>
            <a th:href="@{/teacher_home}" class="btn btn-primary">Courses <i class="fa-solid fa-table"></i></a>
            <a th:href="@{/teacher_tests}" class="btn btn-primary">Tests <i class="fa-solid fa-list-ul"></i></a>
            <a th:href="@{/teacher_students}" class="btn btn-primary">Students <i class="fa-solid fa-user-graduate"></i></a>
        </div>
    </div>
    <div class="content" id="content">
        <h3>Viewing Results for Student: <span th:text="${student.fullName}">Student's name</span></h3>
        <h3>Student's Courses:</h3>
        <table  class="styled-table">
            <thead>
            <tr>
                <th>Course</th>
                <th>Test</th>
                <th>Result</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${courseResults}">
                <td th:text="${course.getCourseTitle()}">Course Title</td>
                <td th:text="${course.getTestTitle()}">Test Title</td>
                <td th:text="${course.getMark()}+ '/' +${course.getMaxMark()}">Mark</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="user-info">
        <div class="user-name">
            <h2>Welcome back, <span th:text="${fullName}">User's name</span></h2>
            <div class="user-stats">
                <ul>
                    <li><i class="fas fa-book"></i> Number of created courses: <span th:text="${courseCount}">0</span></li>
                    <li><i class="fas fa-file-alt"></i> Number of created tests: <span th:text="${testCount}">0</span></li>
                    <li><i class="fas fa-users"></i> Number of students: <span th:text="${studentCount}">0</span></li>
                </ul>
            </div>
        </div>
        <a th:href="@{/login}" class="logout-btn">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
    </div>
</div>

</body>
</html>
