<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/styles.css">
    <script src="/search_sort.js"></script>
</head>
<body>

<div class="dashboard">
    <div class="sidebar">
        <div class="sidebar-buttons">
            <a th:href="@{/teacher_home}" class="btn btn-primary">My courses</a>
            <a th:href="@{/teacher_tests}" class="btn btn-primary">My tests</a>
            <a th:href="@{/teacher_students}" class="btn btn-primary">My students</a>
            <a th:href="@{/teacher_home}" class="btn btn-primary">Settings</a>
        </div>
    </div>
    <div class="content" id="content">
        <div class="content-block">
            <h2>Study materials</h2>
            <ul>
                <li th:each="studyMaterial : ${studyMaterials}">
            <span th:if="${#strings.contains(studyMaterial, 'https://') || #strings.contains(studyMaterial, 'https://')}">
                <a th:href="${studyMaterial}" th:text="${studyMaterial}" target="_blank"></a>
            </span>
                    <span th:unless="${#strings.contains(studyMaterial, 'https://') || #strings.contains(studyMaterial, 'https://')}"
                          th:text="${studyMaterial}"></span>
                </li>
            </ul>
        </div>

        <div class="content-block">
            <h2>Tasks</h2>
            <ul>
                <li th:each="test : ${courseTests}">
                   <!-- <span th:text="${test.title}"></span> - <span th:text="${test.points}"></span> points-->
                    <a th:href="@{'/teacher_view_test/' + ${test.id}}"><span th:text="${test.title}"></span> - <span th:text="${test.points}"></span> points</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="user-info">
        <div class="user-name">
            <h2>Welcome back, <span th:text="${fullName}">User's name</span></h2>
        </div>
        <a th:href="@{/login}" class="logout-btn">Logout</a>
    </div>
</div>

</body>
</html>
