<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/styles.css">
    <script src="/search_sort.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div class="dashboard">
    <div class="sidebar">
        <div class="sidebar-buttons">
            <H3>Teacher</H3>
            <i class="fas fa-chalkboard-teacher fa-4x"></i>
            <a th:href="@{/teacher_home}" class="btn btn-primary">Courses <i class="fa-solid fa-table"></i></a>
            <a th:href="@{/teacher_tests}" class="btn btn-primary">Tests <i class="fa-solid fa-list-ul"></i></a>
            <a th:href="@{/teacher_students}" class="btn btn-primary">Students <i class="fa-solid fa-user-graduate"></i></a>
        </div>
    </div>
    <div class="content" id="content">
        <div class="content-block">
            <h2>Study materials</h2>
            <ul>
                <li th:each="studyMaterial : ${studyMaterials}">
            <span th:if="${#strings.contains(studyMaterial, 'https://') || #strings.contains(studyMaterial, 'https://')}">
                <a th:href="${studyMaterial}" th:text="${studyMaterial}" target="_blank"></a>
            </span>
                    <span th:unless="${#strings.contains(studyMaterial, 'https://') || #strings.contains(studyMaterial, 'https://')}"
                          th:text="${studyMaterial}"></span>
                </li>
            </ul>
        </div>

        <div class="content-block">
            <h2>Tasks</h2>
            <ul>
                <li th:each="test : ${courseTests}">
                   <!-- <span th:text="${test.title}"></span> - <span th:text="${test.points}"></span> points-->
                    <a th:href="@{'/teacher_view_test/' + ${test.id}}"><span th:text="${test.title}"></span> - <span th:text="${test.points}"></span> points</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="user-info">
        <div class="user-name">
            <h2>Welcome back, <span th:text="${fullName}">User's name</span></h2>
            <div class="user-stats">
                <ul>
                    <li><i class="fas fa-book"></i> Number of created courses: <span th:text="${courseCount}">0</span></li>
                    <li><i class="fas fa-file-alt"></i> Number of created tests: <span th:text="${testCount}">0</span></li>
                    <li><i class="fas fa-users"></i> Number of students: <span th:text="${studentCount}">0</span></li>
                </ul>
            </div>
        </div>
        <a th:href="@{/login}" class="logout-btn">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
    </div>
</div>

</body>
</html>
